<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css' />
	<link href='common/css/poem-base.css?v={{version}}' rel='stylesheet' type='text/css' />
	<link href='common/css/poem-code.css?v={{version}}' rel='stylesheet' type='text/css' />
	<link href='lantern.css?v={{version}}' rel='stylesheet' type='text/css' />
	{{#if baseHref}}<base href='{{baseHref}}' />{{/if}}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	{{#if screenshot}}<meta property="og:image" content="{{screenshot}}" />{{/if}}
	{{#if description}}<meta name="description" content="{{description}}" />{{/if}}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<script type="text/javascript">
		window.WEBSITE_URL = "{{websiteUrl}}"
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-3859613-1']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	
</head>
<body>
		
	<div class='container' id='container'>

		<div class='title-webgl-error'>
			<p>Sorry, it looks like WebGL is not supported by your browser or graphics card.</p>
			<p><a href='http://get.webgl.org/'>Find out more about WebGL support here.</a></p>
		</div>
		
		<div class='container-blocker' id='container-blocker'></div>
		
		<div class='titles'>
			<h1>Lantern</h1>
			<h2>Living Light</h2>
		</div>
		
		<div class='code-wrapper'>
			<div class='code-yours'>
				<div class='code-yours-inner'>
					<div class='code-yours-number'>...</div>
					<div class='code-yours-subtext'>You</div>
				</div>
			</div>
			<div class='code-status'>Type Here</div>
			<div class='code-poem'>
				<div class='code-poem-inner'>
					<input type='text' class='code-poem-number' value='...' />
					<div class='code-poem-subtext'>Poem</div>
				</div>
			</div>
		</div>
		
	</div>

	<script src='{{socketIoUrl}}'></script>
	<script src='common/vendor/jquery-2.1.1.min.js'></script>
	<script src='common/vendor/three.js'></script>
	<script src='common/vendor/lodash.min.js'></script>
	
	<script src='lantern.js'></script>
	{{#if script}}<script src='{{script}}'></script>{{/if}}
	
</body>
</html>
